header{
    background-color: #F5F3F0;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 120px 0;
}

.container{
    width: 1440px;

    display: flex;
    align-content: center;
    justify-content: space-around;
    

}
.perfil{

}

.perfil img{
    align-items: center;
    width: 350px;
    height: 350px;
    border-radius: 100%;
}

.cabecalho{

    
}

.cabecalho h1{
    font-weight: 100px;
    font-size: 125px;
    letter-spacing: -2.15px;
    line-height: 110px;
}

.cabecalho h3{
    font-family: "PTSansNarrow";
    color:#9E8C6C;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;

}
.cabecalho a{
    font-family: "PTSansNarrow";
    width: 224px;
    height: 60px;
    border: 1px solid  #0699A6;
    background-color: #0699A6;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 18px 62px;
}

section{
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
   
}

.aptidoes , .certificados , .carreira {
    margin-bottom: 100px;
    font-family: "PTSansNarrow";
}

.boxleft{
    width: 350px;
    background-color: rgb(255, 255, 255);
}

.boxleft h3{
    color:#9E8C6C;
    font-weight: 700px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    
}

.boxleft p{
    font-weight: 400px;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0px;

}
.trabalhos{
    margin-top: -10px;
}
.trabalhos h3{
    font-family: "PTSansNarrow";
}

.trabalhos p{
    font-family: "PTSansNarrow";
    color: #0699A6;
}

.boxright{
    width: 635px;
    height: auto;
    background-color: rgb(255, 255, 255);
}

.sobre {
    width: 635px;
    height: 326px;
    margin-bottom: 72px;
}

.sobre p{
    font-family: "PTSansNarrow";
}

.boxright p{
    font-weight: 400px;
    font-size: 20px;
    line-height: 34px;
    
}
.divisao1{
    width: 75px;
    height: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #0699A6;
    background-color: #0699A6;
}

.divisao{
    width: 75px;
    height: 10px;
    margin-top: 80px;
    margin-bottom: 60px;
    color: #0699A6;
    background-color: #0699A6;
}

.divisao h2{
    font-size: 35px;
}

.box{
    width: 635px;
    height: 238px;
    margin-bottom: 64px;
}

.box p{
    line-height: 32px; 
}
    
.experiencia h2{
    margin-bottom: 40px;
    margin-top: -90px;
}
.textoexperiencia{
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: -70px;
}

.textoexperiencia h3{
    color: #9E8C6C;
    font-family: "PTSansNarrow";
    margin-top: 80px;
}
.textoexperiencia h4{
        font-family: "PTSansNarrow";
        font-weight: 400;
        margin-top: 80px;
    }

.experienciap{
    font-family: "PTSansNarrow";
}

.box p{
    font-family: "PTSansNarrow";
}
.graduacaoextras{
    display: flex;
    justify-content: space-between;
}
.graduacaoextras h3{
    font-family: "PTSansNarrow";
    color: #9E8C6C;
}
.graduacaoextras h4{
    font-family: "PTSansNarrow";
    font-weight: 400;
}

footer{
    max-width: 100%;
    height: auto;
    background-color: #F5F3F0;
    display: flex;
    align-content: center;
}

.boxfooter{
    width: 790px;
    height: 260px;
    margin: 0 auto;
    padding-top: 175px;
    padding-bottom: 180px;
    text-align: center;
}

.boxfooter h2{
    font-weight: 900px;
    font-size: 65px;
    line-height: 8px;
    
}

.boxfooter h3{
    color: #0699A6;
    font-weight: 900px;
    font-size: 35px;
    line-height: 45px;
}

.midias{
    margin: 0 auto;
    width: 245px;
    height: 24px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:1023px){
    .container{
        width: 596px;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 0 0 120px 0;
       
    }
    .perfil img {
        width: 350px;
        height: 350px;
        align-items: center;
    }

    .cabecalho{
        flex-direction: column;
        align-items: center;
        text-align: center;

    }
    
    .cabecalho h1{
        font-size: 67px;
        text-align: center;
        line-height: 100%;
     
    }
    .cabecalho a{
        max-width: 25%;
        margin-bottom: 60px;
        padding: 22px 22px;
        text-align: center;
    }
    section{
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
        margin: 0 auto;
    }
    .boxleft, .boxright{
        width: 100%;
        height: auto 0;
    }

    .box{
        margin-bottom: 96px;
    }

    .sobre, .box{
        width: 100%;
    }

    .experiencia{
        margin-top: 150px;
    }

    .graduacao{
    margin-top: 150px;
    }

    .boxfooter {
    line-height: 100%;
    height: auto;
    padding-bottom: 180px;
    }

    .boxfooter h2{
    line-height: 100%;
    }

}