.container{
    width: 1440px;
    height: 700px;
    display: flex;
    align-content: center;
    justify-content: space-around;
    background-color:#F5F3F0;

}

.perfil{
    width: 350px;
    height: 350px;
    margin-top: 180px;
    margin-left: 165px;
}
.perfil img{
    align-items: center;
    width: 350px;
    height: 350px;
    border-radius: 100%;
}

.texto_nome{
    width: 600px;
    height: 700px;
    margin-top: 88px;
    margin-left: 128px;
    align-items: center;
    
}
.texto_nome h1{
    font-weight: 900px;
    font-size: 126px;
}
.texto h3{
    font-size: 18px;
    letter-spacing: 3px;

}
.texto_nome a{
    width: 224px;
    height: 60px;
    border: 1px solid  #0699A6;
    background-color: #0699A6;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 18px 62px;
}
.content{
    width: 1440px;
    justify-content: space-between;
    margin: 0 auto;
}
.box{
    width: 350px;
    height: auto;
}
.box{
    width: 500px;
    height: auto;
}
.footer{
    width: 1440px;
    height: 547px;
    background-color: #F5F3F0;
}

.footer{
    text-align: center;
    width: 1440px;
    height: 258px;
    margin: 0 auto;
    padding-top: 176px;
    padding-bottom: 112px;
}

.footer h2{
    font-weight: 900px;
    font-size: 66px;
    line-height: 82px;
}

.midias{
    width: 244px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}