@font-face {
    font-family: "PTSansNarrow";
    src: url(../font/PTSansNarrow-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "PTSansNarrow";
    src: url(../font/PTSansNarrow-Bold.ttf); 
    font-weight: 700;
}
